/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/vendor/
/web/bundles/framework
/web/bundles/sensiodistribution

/web/uploads/category/*
/web/uploads/profile/*
!web/uploads/.gitkeep
!web/uploads/category/.gitkeep
!web/uploads/profile/.gitkeep

/web/uploads/temp/*
/web/uploads/logo/*
/web/uploads/poll/*
/docs/backup/*
.DS_Store
